In [1]:
#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt

In [2]:
dynamic = pd.read_csv('db_backup/07.04/BikeData_DynamicData.csv', names=['StationNumber' , 'StationName', 'AvailableBikes' , 'AvailableBikeStands', 'Date', 'Time'])
static = pd.read_csv('db_backup/07.04/BikeData_StaticData.csv', names=['StationNumber', 'StationName', 'Address', 'Latitude', 'Longitude', 'Banking'])
weather = pd.read_csv('db_backup/07.04/BikeData_WeatherData.csv', names=['Date', 'Time', 'Rainfall', 'Temperature', 'Icon', 'WindSpeed'])

# Static Data

In [3]:
#Displaying the first few and last rows of the static table
static.head()

,StationNumber,StationName,Address,Latitude,Longitude,Banking
0,42,SMITHFIELD NORTH,Smithfield North,53.349562,-6.278198,1
1,30,PARNELL SQUARE NORTH,Parnell Square North,53.353462,-6.265305,1
2,54,CLONMEL STREET,Clonmel Street,53.336021,-6.262980,0
3,108,AVONDALE ROAD,Avondale Road,53.359405,-6.276142,0
4,56,MOUNT STREET LOWER,Mount Street Lower,53.337960,-6.241530,0

In [4]:
static.shape

(110, 6)

- There are 110 stations.

In [5]:
# Number of empty cells for each column
static.isnull().sum()

StationNumber    0
StationName      0
Address          0
Latitude         0
Longitude        0
Banking          0
dtype: int64

In [6]:
# Creating an array with the station names
station_numbers = static["StationNumber"].to_numpy()
station_numbers.sort()

# Weather

In [7]:
#Displaying the first few and last rows of the dynamic table
weather

,Date,Time,Rainfall,Temperature,Icon,WindSpeed
0,2020-02-21,13:00:05,0.0,10.1,NaN,NaN
1,2020-02-21,13:30:02,0.0,10.2,NaN,NaN
2,2020-02-21,14:00:02,0.0,10.2,NaN,NaN
3,2020-02-22,14:30:01,0.0,7.4,NaN,NaN
4,2020-02-22,15:00:02,0.0,7.4,NaN,NaN
...,...,...,...,...,...,...
2063,2020-04-07,07:30:02,0.0,8.0,partly-cloudy-day,10.86
2064,2020-04-07,08:00:02,0.0,8.2,partly-cloudy-day,12.09
2065,2020-04-07,08:30:02,0.0,8.4,partly-cloudy-day,13.23
2066,2020-04-07,09:00:02,0.0,8.7,partly-cloudy-day,14.26
2067,2020-04-07,09:30:02,0.0,8.9,partly-cloudy-day,14.86

In [8]:
# Number of empty cells for each column
weather.isnull().sum()

Date             0
Time             0
Rainfall         0
Temperature      0
Icon           387
WindSpeed      388
dtype: int64

# Dynamic Data

In [9]:
# Converting StationNumber to object so it does not appear during descriptive stats
dynamic['StationNumber'] = dynamic['StationNumber'].astype('object')

In [10]:
# Converting Date to datetime 
dynamic['Date'] = dynamic['Date'].astype('datetime64')
dynamic['Time'] = dynamic['Time'].astype('datetime64')

In [11]:
#Displaying the first few and last rows of the dynamic table
dynamic

,StationNumber,StationName,AvailableBikes,AvailableBikeStands,Date,Time
0,42,SMITHFIELD NORTH,2,28,2020-02-21,2020-04-08 12:52:58
1,30,PARNELL SQUARE NORTH,1,19,2020-02-21,2020-04-08 12:54:29
2,54,CLONMEL STREET,25,8,2020-02-21,2020-04-08 12:54:39
3,108,AVONDALE ROAD,4,36,2020-02-21,2020-04-08 12:50:23
4,56,MOUNT STREET LOWER,27,13,2020-02-21,2020-04-08 12:47:41
...,...,...,...,...,...,...
1343418,39,WILTON TERRACE,5,15,2020-04-07,2020-04-08 09:34:05
1343419,83,EMMET ROAD,19,20,2020-04-07,2020-04-08 09:30:33
1343420,92,HEUSTON BRIDGE (NORTH),19,20,2020-04-07,2020-04-08 09:30:36
1343421,21,LEINSTER STREET SOUTH,15,15,2020-04-07,2020-04-08 09:32:02
1343422,88,BLACKHALL PLACE,23,6,2020-04-07,2020-04-08 09:31:50

In [12]:
print('Number of duplicate (excluding first) rows in the table is: ', dynamic.duplicated().sum())

Number of duplicate (excluding first) rows in the table is:  575827

### Checking for duplicate features

In [13]:
dupl = dynamic.duplicated()
new = dynamic.loc[(dupl == True)]

new.head(200)

,StationNumber,StationName,AvailableBikes,AvailableBikeStands,Date,Time
110,30,PARNELL SQUARE NORTH,1,19,2020-02-21,2020-04-08 12:54:29
111,54,CLONMEL STREET,25,8,2020-02-21,2020-04-08 12:54:39
112,108,AVONDALE ROAD,4,36,2020-02-21,2020-04-08 12:50:23
119,13,FITZWILLIAM SQUARE WEST,21,9,2020-02-21,2020-04-08 12:53:25
120,43,PORTOBELLO ROAD,0,30,2020-02-21,2020-04-08 12:50:26
...,...,...,...,...,...,...
791,63,FENIAN STREET,13,21,2020-02-21,2020-04-08 13:21:23
792,113,MERRION SQUARE SOUTH,19,21,2020-02-21,2020-04-08 13:22:39
803,73,FRANCIS STREET,0,30,2020-02-21,2020-04-08 13:23:05
804,4,GREEK STREET,4,16,2020-02-21,2020-04-08 13:20:37
808,102,WESTERN WAY,0,40,2020-02-21,2020-04-08 13:24:53

In [14]:
dynamic.head(200)

,StationNumber,StationName,AvailableBikes,AvailableBikeStands,Date,Time
0,42,SMITHFIELD NORTH,2,28,2020-02-21,2020-04-08 12:52:58
1,30,PARNELL SQUARE NORTH,1,19,2020-02-21,2020-04-08 12:54:29
2,54,CLONMEL STREET,25,8,2020-02-21,2020-04-08 12:54:39
3,108,AVONDALE ROAD,4,36,2020-02-21,2020-04-08 12:50:23
4,56,MOUNT STREET LOWER,27,13,2020-02-21,2020-04-08 12:47:41
...,...,...,...,...,...,...
195,10,DAME STREET,6,10,2020-02-21,2020-04-08 12:59:42
196,100,HEUSTON BRIDGE (SOUTH),13,12,2020-02-21,2020-04-08 12:58:07
197,24,CATHAL BRUGHA STREET,3,17,2020-02-21,2020-04-08 12:59:36
198,64,SANDWITH STREET,20,19,2020-02-21,2020-04-08 12:58:51
199,109,BUCKINGHAM STREET LOWER,3,26,2020-02-21,2020-04-08 12:55:18

### Dropping duplicates

In [15]:
dynamic = dynamic.drop_duplicates()

In [16]:
dynamic

,StationNumber,StationName,AvailableBikes,AvailableBikeStands,Date,Time
0,42,SMITHFIELD NORTH,2,28,2020-02-21,2020-04-08 12:52:58
1,30,PARNELL SQUARE NORTH,1,19,2020-02-21,2020-04-08 12:54:29
2,54,CLONMEL STREET,25,8,2020-02-21,2020-04-08 12:54:39
3,108,AVONDALE ROAD,4,36,2020-02-21,2020-04-08 12:50:23
4,56,MOUNT STREET LOWER,27,13,2020-02-21,2020-04-08 12:47:41
...,...,...,...,...,...,...
1343414,40,JERVIS STREET,3,18,2020-04-07,2020-04-08 09:34:23
1343415,29,ORMOND QUAY UPPER,14,15,2020-04-07,2020-04-08 09:37:12
1343416,103,GRANGEGORMAN LOWER (SOUTH),2,38,2020-04-07,2020-04-08 09:38:12
1343417,28,MOUNTJOY SQUARE WEST,7,23,2020-04-07,2020-04-08 09:35:51
1343418,39,WILTON TERRACE,5,15,2020-04-07,2020-04-08 09:34:05

In [17]:
print('Number of duplicate (excluding first) rows in the table is: ', dynamic.duplicated().sum())

Number of duplicate (excluding first) rows in the table is:  0

In [18]:
## Reseting the index count
dynamic = dynamic.reset_index(drop=True)

In [19]:
# Number of empty cells for each column
dynamic.isnull().sum()

StationNumber          0
StationName            0
AvailableBikes         0
AvailableBikeStands    0
Date                   0
Time                   0
dtype: int64

In [20]:
dynamic.dtypes

StationNumber                  object
StationName                    object
AvailableBikes                  int64
AvailableBikeStands             int64
Date                   datetime64[ns]
Time                   datetime64[ns]
dtype: object

In [21]:
# Displaying descriptive stats for numeric columns
numeric_cols = dynamic.select_dtypes(['int64']).columns
dynamic[numeric_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
AvailableBikes,767596.0,11.820447,8.876169,0.0,5.0,11.0,17.0,40.0
AvailableBikeStands,767596.0,20.187855,10.415964,0.0,13.0,20.0,28.0,41.0

### Adding DayOfWeek column to the dataframe

In [22]:
date = dynamic['Date']
day_of_week_arr=[]
for i in date:
    day_of_week_arr.append(i.dayofweek)
day_of_week=pd.Series(day_of_week_arr, dtype='category')
dynamic['DayOfWeek']=day_of_week

In [23]:
#dynamic

### Adding Hour column to the dataframe

In [24]:
hour = dynamic['Time']
hour_arr=[]

for i in hour:
    hour_arr.append(i.hour)
    
hour=pd.Series(hour_arr, dtype='category')
dynamic['Hour']=hour

In [25]:
#dynamic

### Filtering the dynamic df and creating subsets by day of the week

In [26]:
monday=dynamic.loc[(dynamic['DayOfWeek'] == 0)]
tuesday=dynamic.loc[(dynamic['DayOfWeek'] == 1)]
wednesday=dynamic.loc[(dynamic['DayOfWeek'] == 2)]
thursday=dynamic.loc[(dynamic['DayOfWeek'] == 3)]
friday=dynamic.loc[(dynamic['DayOfWeek'] == 4)]
saturday=dynamic.loc[(dynamic['DayOfWeek'] == 5)]
sunday=dynamic.loc[(dynamic['DayOfWeek'] == 6)]

#days_of_week contains the subsets
days_of_week=[monday, tuesday, wednesday, thursday, friday, saturday, sunday]

In [27]:
#Creating a DataFrame only with the station_numbers to populate with the avges by day of week for each station
avg_station_weekly=pd.DataFrame(station_numbers, dtype='category', columns=['StationNumber'])

In [28]:
week_days=['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
count=0

for i in days_of_week:
    #Grouping the subsets by day of the week created by station number and performing sum() and count() of rows
    sum_day_of_week=i.groupby('StationNumber',as_index=False).sum()
    count_day_of_week=i.groupby('StationNumber',as_index=False).count()
    
    #Selecting only the available bikes columns
    sum_day_of_week=sum_day_of_week['AvailableBikes']
    count_day_of_week=count_day_of_week['AvailableBikes']
    #Computting the avg of available bikes from the sum and count columns
    avg_day_of_week=round(sum_day_of_week/count_day_of_week,0)
    
    #Adding the columns: sum, count and average to the new dataframe created: avg_station_weekly
    avg_station_weekly['sum_'+ str(week_days[count])]=sum_day_of_week
    avg_station_weekly['count_'+ str(week_days[count])]=count_day_of_week
    avg_station_weekly['avg_'+ str(week_days[count])]=avg_day_of_week
    count+=1
    
#avg_station_weekly

### Converting the dataframe into a dictionary

In [29]:
dict_avg_station={}
for ind in avg_station_weekly.index: 
    dict2={}
    dict2['monday']=avg_station_weekly['avg_monday'][ind]
    dict2['tuesday']=avg_station_weekly['avg_tuesday'][ind]
    dict2['wednesday']=avg_station_weekly['avg_wednesday'][ind]
    dict2['thursday']=avg_station_weekly['avg_thursday'][ind]
    dict2['friday']=avg_station_weekly['avg_friday'][ind]
    dict2['saturday']=avg_station_weekly['avg_saturday'][ind]
    dict2['sunday']=avg_station_weekly['avg_sunday'][ind] 
    dict_avg_station[str(avg_station_weekly['StationNumber'][ind])]=dict2

In [30]:
#dict_avg_station

### Exporting average by weekday to a json file

In [31]:
#import json
#with open('avg_weekday.json', 'w') as fp:
#    json.dump(dict_avg_station, fp)

### Filtering the dynamic df and creating subsets by hour of day from 6am until 9pm

In [32]:
#hours_of_day will contain the subsets
hours_of_day=['six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fiveteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twentyOne']
in_numbers=[6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]

#Changed hours_of_day
for i in range(len(hours_of_day)):
    hours_of_day[i]=dynamic.loc[(dynamic['Hour']==in_numbers[i])]

In [33]:
#Creating a DataFrame only with the station_numbers to populate with the avges by hour of the day for each station
avg_station_hourly=pd.DataFrame(station_numbers, dtype='category', columns=['StationNumber'])

In [34]:
hours_of_day_str=['six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fiveteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twentyOne']
count=0
for i in hours_of_day:
    #Grouping the subsets created by station number and performing sum() and count() of rows
    sum_hours=i.groupby('StationNumber',as_index=False).sum()
    count_hours=i.groupby('StationNumber',as_index=False).count()
    
    #Selecting only the available bikes columns
    sum_hours=sum_hours['AvailableBikes']
    count_hours=count_hours['AvailableBikes']
    #Computting the avg of available bikes from the sum and count columns
    avg_hours=round(sum_hours/count_hours,0)
    
    #Adding the columns: sum, count and average to the new dataframe created: avg_station_hourly
    avg_station_hourly['sum_'+ str(in_numbers[count])]=sum_hours
    avg_station_hourly['count_'+ str(in_numbers[count])]=count_hours
    avg_station_hourly['avg_'+ str(in_numbers[count])]=avg_hours
    count+=1
    
avg_station_hourly

,StationNumber,sum_6,count_6,avg_6,sum_7,count_7,avg_7,sum_8,count_8,avg_8,...,avg_18,sum_19,count_19,avg_19,sum_20,count_20,avg_20,sum_21,count_21,avg_21
0,2,2554,277,9.0,2383,295,8.0,2067,303,7.0,...,8.0,2334,286,8.0,2280,270,8.0,2397,267,9.0
1,3,1787,287,6.0,1741,283,6.0,1705,313,5.0,...,6.0,1969,293,7.0,2219,299,7.0,2136,281,8.0
2,4,2561,280,9.0,2660,299,9.0,2872,333,9.0,...,7.0,2114,285,7.0,2132,270,8.0,2302,262,9.0
3,5,6801,327,21.0,5642,352,16.0,4185,383,11.0,...,11.0,5508,376,15.0,5480,329,17.0,5575,333,17.0
4,6,1185,281,4.0,1364,292,5.0,1422,315,5.0,...,6.0,1941,297,7.0,1875,280,7.0,1840,282,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,113,1089,262,4.0,1421,271,5.0,2144,292,7.0,...,7.0,1336,265,5.0,1293,259,5.0,1266,255,5.0
106,114,1773,292,6.0,2343,318,7.0,4191,344,12.0,...,5.0,1597,284,6.0,1385,268,5.0,1368,262,5.0
107,115,6462,309,21.0,5677,326,17.0,4277,338,13.0,...,18.0,6280,317,20.0,6458,306,21.0,5976,276,22.0
108,116,1284,243,5.0,1232,239,5.0,1157,241,5.0,...,5.0,1227,239,5.0,1266,237,5.0,1235,235,5.0
109,117,1048,256,4.0,1267,268,5.0,2473,287,9.0,...,6.0,1312,261,5.0,1148,254,5.0,1084,250,4.0

### Converting the dataframe into a dictionary

In [39]:
dict_avg_station_hourly={}

for ind in avg_station_hourly.index:
    dict3={}
    for i in in_numbers:
        dict3[int(i)]=avg_station_hourly['avg_'+str(i)][ind]
    
    dict_avg_station_hourly[str(avg_station_hourly['StationNumber'][ind])]=dict3

In [40]:
in_numbers

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [41]:
dict_avg_station_hourly

{'2': {6: 9.0,
  7: 8.0,
  8: 7.0,
  9: 6.0,
  10: 5.0,
  11: 6.0,
  12: 6.0,
  13: 6.0,
  14: 6.0,
  15: 6.0,
  16: 6.0,
  17: 7.0,
  18: 8.0,
  19: 8.0,
  20: 8.0,
  21: 9.0},
 '3': {6: 6.0,
  7: 6.0,
  8: 5.0,
  9: 5.0,
  10: 6.0,
  11: 6.0,
  12: 6.0,
  13: 8.0,
  14: 8.0,
  15: 8.0,
  16: 6.0,
  17: 5.0,
  18: 6.0,
  19: 7.0,
  20: 7.0,
  21: 8.0},
 '4': {6: 9.0,
  7: 9.0,
  8: 9.0,
  9: 10.0,
  10: 11.0,
  11: 10.0,
  12: 9.0,
  13: 8.0,
  14: 8.0,
  15: 8.0,
  16: 8.0,
  17: 7.0,
  18: 7.0,
  19: 7.0,
  20: 8.0,
  21: 9.0},
 '5': {6: 21.0,
  7: 16.0,
  8: 11.0,
  9: 13.0,
  10: 14.0,
  11: 13.0,
  12: 12.0,
  13: 11.0,
  14: 11.0,
  15: 11.0,
  16: 11.0,
  17: 10.0,
  18: 11.0,
  19: 15.0,
  20: 17.0,
  21: 17.0},
 '6': {6: 4.0,
  7: 5.0,
  8: 5.0,
  9: 5.0,
  10: 6.0,
  11: 6.0,
  12: 6.0,
  13: 6.0,
  14: 7.0,
  15: 8.0,
  16: 7.0,
  17: 6.0,
  18: 6.0,
  19: 7.0,
  20: 7.0,
  21: 7.0},
 '7': {6: 12.0,
  7: 11.0,
  8: 9.0,
  9: 8.0,
  10: 9.0,
  11: 9.0,
  12: 10.0,
  13: 10.0,
  14: 10.0,
  15: 11.0,
  16: 11.0,
  17: 11.0,
  18: 12.0,
  19: 13.0,
  20: 13.0,
  21: 14.0},
 '8': {6: 9.0,
  7: 10.0,
  8: 11.0,
  9: 13.0,
  10: 12.0,
  11: 12.0,
  12: 12.0,
  13: 13.0,
  14: 13.0,
  15: 14.0,
  16: 16.0,
  17: 18.0,
  18: 16.0,
  19: 14.0,
  20: 12.0,
  21: 11.0},
 '9': {6: 8.0,
  7: 8.0,
  8: 9.0,
  9: 12.0,
  10: 13.0,
  11: 15.0,
  12: 15.0,
  13: 16.0,
  14: 14.0,
  15: 13.0,
  16: 13.0,
  17: 11.0,
  18: 11.0,
  19: 9.0,
  20: 8.0,
  21: 7.0},
 '10': {6: 8.0,
  7: 9.0,
  8: 11.0,
  9: 11.0,
  10: 12.0,
  11: 12.0,
  12: 12.0,
  13: 10.0,
  14: 10.0,
  15: 10.0,
  16: 10.0,
  17: 9.0,
  18: 10.0,
  19: 10.0,
  20: 10.0,
  21: 9.0},
 '11': {6: 6.0,
  7: 7.0,
  8: 12.0,
  9: 14.0,
  10: 12.0,
  11: 12.0,
  12: 12.0,
  13: 11.0,
  14: 11.0,
  15: 12.0,
  16: 9.0,
  17: 5.0,
  18: 5.0,
  19: 5.0,
  20: 5.0,
  21: 5.0},
 '12': {6: 10.0,
  7: 9.0,
  8: 7.0,
  9: 6.0,
  10: 6.0,
  11: 6.0,
  12: 6.0,
  13: 5.0,
  14: 6.0,
  15: 5.0,
  16: 5.0,
  17: 6.0,
  18: 8.0,
  19: 9.0,
  20: 9.0,
  21: 10.0},
 '13': {6: 5.0,
  7: 6.0,
  8: 7.0,
  9: 12.0,
  10: 13.0,
  11: 13.0,
  12: 13.0,
  13: 13.0,
  14: 13.0,
  15: 12.0,
  16: 12.0,
  17: 8.0,
  18: 5.0,
  19: 5.0,
  20: 5.0,
  21: 5.0},
 '15': {6: 5.0,
  7: 5.0,
  8: 4.0,
  9: 4.0,
  10: 3.0,
  11: 3.0,
  12: 3.0,
  13: 4.0,
  14: 4.0,
  15: 4.0,
  16: 4.0,
  17: 4.0,
  18: 5.0,
  19: 5.0,
  20: 5.0,
  21: 5.0},
 '16': {6: 7.0,
  7: 8.0,
  8: 9.0,
  9: 9.0,
  10: 9.0,
  11: 9.0,
  12: 8.0,
  13: 8.0,
  14: 9.0,
  15: 10.0,
  16: 11.0,
  17: 12.0,
  18: 11.0,
  19: 9.0,
  20: 9.0,
  21: 8.0},
 '17': {6: 6.0,
  7: 6.0,
  8: 6.0,
  9: 6.0,
  10: 6.0,
  11: 5.0,
  12: 6.0,
  13: 6.0,
  14: 8.0,
  15: 8.0,
  16: 7.0,
  17: 7.0,
  18: 7.0,
  19: 7.0,
  20: 6.0,
  21: 6.0},
 '18': {6: 15.0,
  7: 18.0,
  8: 17.0,
  9: 11.0,
  10: 11.0,
  11: 11.0,
  12: 11.0,
  13: 10.0,
  14: 11.0,
  15: 10.0,
  16: 10.0,
  17: 9.0,
  18: 9.0,
  19: 10.0,
  20: 11.0,
  21: 11.0},
 '19': {6: 9.0,
  7: 11.0,
  8: 16.0,
  9: 18.0,
  10: 18.0,
  11: 19.0,
  12: 17.0,
  13: 18.0,
  14: 18.0,
  15: 17.0,
  16: 12.0,
  17: 10.0,
  18: 10.0,
  19: 10.0,
  20: 9.0,
  21: 8.0},
 '21': {6: 8.0,
  7: 9.0,
  8: 12.0,
  9: 16.0,
  10: 17.0,
  11: 18.0,
  12: 18.0,
  13: 18.0,
  14: 17.0,
  15: 16.0,
  16: 16.0,
  17: 17.0,
  18: 15.0,
  19: 13.0,
  20: 11.0,
  21: 10.0},
 '22': {6: 8.0,
  7: 8.0,
  8: 7.0,
  9: 10.0,
  10: 10.0,
  11: 10.0,
  12: 10.0,
  13: 10.0,
  14: 10.0,
  15: 9.0,
  16: 10.0,
  17: 12.0,
  18: 11.0,
  19: 11.0,
  20: 10.0,
  21: 9.0},
 '23': {6: 11.0,
  7: 12.0,
  8: 15.0,
  9: 15.0,
  10: 13.0,
  11: 13.0,
  12: 13.0,
  13: 13.0,
  14: 12.0,
  15: 12.0,
  16: 15.0,
  17: 18.0,
  18: 17.0,
  19: 15.0,
  20: 16.0,
  21: 14.0},
 '24': {6: 7.0,
  7: 7.0,
  8: 8.0,
  9: 7.0,
  10: 9.0,
  11: 9.0,
  12: 8.0,
  13: 8.0,
  14: 8.0,
  15: 9.0,
  16: 11.0,
  17: 11.0,
  18: 11.0,
  19: 10.0,
  20: 10.0,
  21: 9.0},
 '25': {6: 6.0,
  7: 9.0,
  8: 11.0,
  9: 15.0,
  10: 14.0,
  11: 14.0,
  12: 14.0,
  13: 15.0,
  14: 13.0,
  15: 13.0,
  16: 10.0,
  17: 6.0,
  18: 4.0,
  19: 4.0,
  20: 4.0,
  21: 4.0},
 '26': {6: 5.0,
  7: 6.0,
  8: 8.0,
  9: 11.0,
  10: 12.0,
  11: 12.0,
  12: 13.0,
  13: 13.0,
  14: 13.0,
  15: 12.0,
  16: 13.0,
  17: 12.0,
  18: 9.0,
  19: 7.0,
  20: 7.0,
  21: 7.0},
 '27': {6: 4.0,
  7: 7.0,
  8: 9.0,
  9: 11.0,
  10: 13.0,
  11: 13.0,
  12: 14.0,
  13: 14.0,
  14: 12.0,
  15: 11.0,
  16: 9.0,
  17: 7.0,
  18: 5.0,
  19: 4.0,
  20: 4.0,
  21: 3.0},
 '28': {6: 17.0,
  7: 15.0,
  8: 11.0,
  9: 10.0,
  10: 11.0,
  11: 9.0,
  12: 8.0,
  13: 7.0,
  14: 7.0,
  15: 7.0,
  16: 8.0,
  17: 7.0,
  18: 7.0,
  19: 8.0,
  20: 11.0,
  21: 13.0},
 '29': {6: 12.0,
  7: 11.0,
  8: 11.0,
  9: 11.0,
  10: 12.0,
  11: 14.0,
  12: 14.0,
  13: 16.0,
  14: 16.0,
  15: 17.0,
  16: 15.0,
  17: 14.0,
  18: 13.0,
  19: 14.0,
  20: 15.0,
  21: 15.0},
 '30': {6: 6.0,
  7: 6.0,
  8: 7.0,
  9: 6.0,
  10: 6.0,
  11: 6.0,
  12: 5.0,
  13: 6.0,
  14: 6.0,
  15: 6.0,
  16: 5.0,
  17: 5.0,
  18: 5.0,
  19: 5.0,
  20: 4.0,
  21: 5.0},
 '31': {6: 7.0,
  7: 7.0,
  8: 8.0,
  9: 9.0,
  10: 11.0,
  11: 11.0,
  12: 10.0,
  13: 11.0,
  14: 12.0,
  15: 11.0,
  16: 11.0,
  17: 11.0,
  18: 11.0,
  19: 7.0,
  20: 7.0,
  21: 7.0},
 '32': {6: 9.0,
  7: 10.0,
  8: 8.0,
  9: 10.0,
  10: 11.0,
  11: 13.0,
  12: 13.0,
  13: 12.0,
  14: 11.0,
  15: 10.0,
  16: 13.0,
  17: 16.0,
  18: 16.0,
  19: 14.0,
  20: 12.0,
  21: 11.0},
 '33': {6: 13.0,
  7: 15.0,
  8: 15.0,
  9: 15.0,
  10: 15.0,
  11: 16.0,
  12: 17.0,
  13: 16.0,
  14: 15.0,
  15: 16.0,
  16: 17.0,
  17: 17.0,
  18: 16.0,
  19: 15.0,
  20: 14.0,
  21: 12.0},
 '34': {6: 17.0,
  7: 12.0,
  8: 8.0,
  9: 9.0,
  10: 8.0,
  11: 8.0,
  12: 8.0,
  13: 8.0,
  14: 8.0,
  15: 9.0,
  16: 12.0,
  17: 14.0,
  18: 17.0,
  19: 19.0,
  20: 20.0,
  21: 19.0},
 '36': {6: 8.0,
  7: 10.0,
  8: 14.0,
  9: 18.0,
  10: 19.0,
  11: 19.0,
  12: 19.0,
  13: 20.0,
  14: 18.0,
  15: 18.0,
  16: 17.0,
  17: 12.0,
  18: 8.0,
  19: 8.0,
  20: 8.0,
  21: 8.0},
 '37': {6: 8.0,
  7: 7.0,
  8: 8.0,
  9: 8.0,
  10: 9.0,
  11: 9.0,
  12: 9.0,
  13: 10.0,
  14: 9.0,
  15: 10.0,
  16: 10.0,
  17: 8.0,
  18: 7.0,
  19: 8.0,
  20: 8.0,
  21: 7.0},
 '38': {6: 27.0,
  7: 25.0,
  8: 22.0,
  9: 23.0,
  10: 22.0,
  11: 22.0,
  12: 21.0,
  13: 20.0,
  14: 21.0,
  15: 23.0,
  16: 25.0,
  17: 27.0,
  18: 27.0,
  19: 28.0,
  20: 27.0,
  21: 27.0},
 '39': {6: 7.0,
  7: 8.0,
  8: 7.0,
  9: 7.0,
  10: 8.0,
  11: 8.0,
  12: 7.0,
  13: 7.0,
  14: 7.0,
  15: 7.0,
  16: 6.0,
  17: 5.0,
  18: 6.0,
  19: 6.0,
  20: 6.0,
  21: 7.0},
 '40': {6: 8.0,
  7: 10.0,
  8: 11.0,
  9: 11.0,
  10: 12.0,
  11: 13.0,
  12: 13.0,
  13: 13.0,
  14: 13.0,
  15: 13.0,
  16: 11.0,
  17: 11.0,
  18: 11.0,
  19: 10.0,
  20: 8.0,
  21: 8.0},
 '41': {6: 6.0,
  7: 6.0,
  8: 6.0,
  9: 8.0,
  10: 9.0,
  11: 9.0,
  12: 9.0,
  13: 8.0,
  14: 9.0,
  15: 9.0,
  16: 7.0,
  17: 6.0,
  18: 6.0,
  19: 6.0,
  20: 6.0,
  21: 6.0},
 '42': {6: 22.0,
  7: 18.0,
  8: 14.0,
  9: 13.0,
  10: 14.0,
  11: 14.0,
  12: 13.0,
  13: 13.0,
  14: 14.0,
  15: 14.0,
  16: 15.0,
  17: 16.0,
  18: 20.0,
  19: 23.0,
  20: 23.0,
  21: 24.0},
 '43': {6: 17.0,
  7: 14.0,
  8: 9.0,
  9: 8.0,
  10: 9.0,
  11: 8.0,
  12: 8.0,
  13: 8.0,
  14: 7.0,
  15: 9.0,
  16: 10.0,
  17: 12.0,
  18: 15.0,
  19: 16.0,
  20: 17.0,
  21: 18.0},
 '44': {6: 15.0,
  7: 10.0,
  8: 7.0,
  9: 6.0,
  10: 6.0,
  11: 6.0,
  12: 6.0,
  13: 5.0,
  14: 5.0,
  15: 6.0,
  16: 8.0,
  17: 10.0,
  18: 15.0,
  19: 18.0,
  20: 19.0,
  21: 20.0},
 '45': {6: 18.0,
  7: 16.0,
  8: 15.0,
  9: 13.0,
  10: 13.0,
  11: 12.0,
  12: 13.0,
  13: 12.0,
  14: 13.0,
  15: 14.0,
  16: 15.0,
  17: 15.0,
  18: 17.0,
  19: 17.0,
  20: 18.0,
  21: 18.0},
 '47': {6: 6.0,
  7: 7.0,
  8: 12.0,
  9: 18.0,
  10: 17.0,
  11: 18.0,
  12: 17.0,
  13: 17.0,
  14: 18.0,
  15: 17.0,
  16: 16.0,
  17: 8.0,
  18: 5.0,
  19: 5.0,
  20: 5.0,
  21: 5.0},
 '48': {6: 12.0,
  7: 11.0,
  8: 12.0,
  9: 16.0,
  10: 16.0,
  11: 17.0,
  12: 19.0,
  13: 18.0,
  14: 19.0,
  15: 18.0,
  16: 20.0,
  17: 22.0,
  18: 22.0,
  19: 21.0,
  20: 20.0,
  21: 18.0},
 '49': {6: 12.0,
  7: 12.0,
  8: 12.0,
  9: 17.0,
  10: 18.0,
  11: 18.0,
  12: 17.0,
  13: 17.0,
  14: 17.0,
  15: 18.0,
  16: 20.0,
  17: 21.0,
  18: 18.0,
  19: 16.0,
  20: 15.0,
  21: 14.0},
 '50': {6: 15.0,
  7: 12.0,
  8: 8.0,
  9: 6.0,
  10: 6.0,
  11: 6.0,
  12: 6.0,
  13: 5.0,
  14: 6.0,
  15: 6.0,
  16: 6.0,
  17: 6.0,
  18: 9.0,
  19: 11.0,
  20: 13.0,
  21: 15.0},
 '51': {6: 10.0,
  7: 10.0,
  8: 10.0,
  9: 10.0,
  10: 12.0,
  11: 12.0,
  12: 13.0,
  13: 14.0,
  14: 14.0,
  15: 14.0,
  16: 12.0,
  17: 12.0,
  18: 11.0,
  19: 11.0,
  20: 10.0,
  21: 10.0},
 '52': {6: 8.0,
  7: 10.0,
  8: 11.0,
  9: 11.0,
  10: 12.0,
  11: 12.0,
  12: 13.0,
  13: 13.0,
  14: 13.0,
  15: 13.0,
  16: 12.0,
  17: 10.0,
  18: 9.0,
  19: 8.0,
  20: 8.0,
  21: 8.0},
 '53': {6: 6.0,
  7: 7.0,
  8: 10.0,
  9: 14.0,
  10: 15.0,
  11: 15.0,
  12: 15.0,
  13: 15.0,
  14: 15.0,
  15: 15.0,
  16: 14.0,
  17: 10.0,
  18: 7.0,
  19: 6.0,
  20: 6.0,
  21: 6.0},
 '54': {6: 6.0,
  7: 7.0,
  8: 9.0,
  9: 11.0,
  10: 11.0,
  11: 12.0,
  12: 12.0,
  13: 12.0,
  14: 11.0,
  15: 11.0,
  16: 10.0,
  17: 6.0,
  18: 6.0,
  19: 6.0,
  20: 6.0,
  21: 6.0},
 '55': {6: 4.0,
  7: 6.0,
  8: 12.0,
  9: 15.0,
  10: 14.0,
  11: 15.0,
  12: 15.0,
  13: 14.0,
  14: 13.0,
  15: 13.0,
  16: 8.0,
  17: 4.0,
  18: 3.0,
  19: 3.0,
  20: 3.0,
  21: 3.0},
 '56': {6: 8.0,
  7: 8.0,
  8: 15.0,
  9: 18.0,
  10: 17.0,
  11: 16.0,
  12: 16.0,
  13: 16.0,
  14: 19.0,
  15: 20.0,
  16: 15.0,
  17: 10.0,
  18: 10.0,
  19: 10.0,
  20: 10.0,
  21: 10.0},
 '57': {6: 7.0,
  7: 6.0,
  8: 8.0,
  9: 12.0,
  10: 12.0,
  11: 12.0,
  12: 12.0,
  13: 12.0,
  14: 12.0,
  15: 12.0,
  16: 12.0,
  17: 9.0,
  18: 7.0,
  19: 7.0,
  20: 7.0,
  21: 7.0},
 '58': {6: 10.0,
  7: 11.0,
  8: 16.0,
  9: 20.0,
  10: 19.0,
  11: 20.0,
  12: 20.0,
  13: 19.0,
  14: 20.0,
  15: 20.0,
  16: 19.0,
  17: 14.0,
  18: 11.0,
  19: 11.0,
  20: 12.0,
  21: 11.0},
 '59': {6: 7.0,
  7: 8.0,
  8: 8.0,
  9: 7.0,
  10: 7.0,
  11: 7.0,
  12: 7.0,
  13: 6.0,
  14: 7.0,
  15: 7.0,
  16: 6.0,
  17: 6.0,
  18: 6.0,
  19: 7.0,
  20: 6.0,
  21: 7.0},
 '61': {6: 13.0,
  7: 13.0,
  8: 12.0,
  9: 10.0,
  10: 10.0,
  11: 10.0,
  12: 9.0,
  13: 9.0,
  14: 9.0,
  15: 9.0,
  16: 8.0,
  17: 7.0,
  18: 8.0,
  19: 10.0,
  20: 10.0,
  21: 9.0},
 '62': {6: 7.0,
  7: 10.0,
  8: 14.0,
  9: 18.0,
  10: 16.0,
  11: 17.0,
  12: 17.0,
  13: 16.0,
  14: 16.0,
  15: 15.0,
  16: 13.0,
  17: 10.0,
  18: 7.0,
  19: 6.0,
  20: 6.0,
  21: 6.0},
 '63': {6: 10.0,
  7: 10.0,
  8: 11.0,
  9: 16.0,
  10: 17.0,
  11: 17.0,
  12: 18.0,
  13: 17.0,
  14: 17.0,
  15: 16.0,
  16: 16.0,
  17: 17.0,
  18: 17.0,
  19: 15.0,
  20: 14.0,
  21: 13.0},
 '64': {6: 12.0,
  7: 13.0,
  8: 15.0,
  9: 21.0,
  10: 21.0,
  11: 20.0,
  12: 17.0,
  13: 17.0,
  14: 18.0,
  15: 17.0,
  16: 16.0,
  17: 17.0,
  18: 17.0,
  19: 15.0,
  20: 14.0,
  21: 13.0},
 '65': {6: 8.0,
  7: 11.0,
  8: 12.0,
  9: 19.0,
  10: 18.0,
  11: 18.0,
  12: 17.0,
  13: 14.0,
  14: 16.0,
  15: 15.0,
  16: 16.0,
  17: 12.0,
  18: 9.0,
  19: 7.0,
  20: 7.0,
  21: 7.0},
 '66': {6: 13.0,
  7: 17.0,
  8: 21.0,
  9: 22.0,
  10: 19.0,
  11: 16.0,
  12: 14.0,
  13: 13.0,
  14: 16.0,
  15: 15.0,
  16: 11.0,
  17: 7.0,
  18: 8.0,
  19: 10.0,
  20: 12.0,
  21: 14.0},
 '67': {6: 15.0,
  7: 15.0,
  8: 17.0,
  9: 19.0,
  10: 19.0,
  11: 19.0,
  12: 19.0,
  13: 17.0,
  14: 16.0,
  15: 16.0,
  16: 18.0,
  17: 20.0,
  18: 20.0,
  19: 22.0,
  20: 22.0,
  21: 23.0},
 '68': {6: 10.0,
  7: 13.0,
  8: 19.0,
  9: 22.0,
  10: 20.0,
  11: 20.0,
  12: 19.0,
  13: 19.0,
  14: 18.0,
  15: 16.0,
  16: 15.0,
  17: 11.0,
  18: 9.0,
  19: 9.0,
  20: 9.0,
  21: 9.0},
 '69': {6: 18.0,
  7: 20.0,
  8: 21.0,
  9: 23.0,
  10: 22.0,
  11: 21.0,
  12: 22.0,
  13: 22.0,
  14: 22.0,
  15: 21.0,
  16: 20.0,
  17: 19.0,
  18: 16.0,
  19: 16.0,
  20: 17.0,
  21: 17.0},
 '71': {6: 10.0,
  7: 9.0,
  8: 7.0,
  9: 8.0,
  10: 10.0,
  11: 9.0,
  12: 9.0,
  13: 9.0,
  14: 10.0,
  15: 10.0,
  16: 9.0,
  17: 9.0,
  18: 10.0,
  19: 11.0,
  20: 11.0,
  21: 10.0},
 '72': {6: 15.0,
  7: 13.0,
  8: 9.0,
  9: 8.0,
  10: 9.0,
  11: 8.0,
  12: 8.0,
  13: 8.0,
  14: 9.0,
  15: 9.0,
  16: 10.0,
  17: 11.0,
  18: 14.0,
  19: 16.0,
  20: 16.0,
  21: 16.0},
 '73': {6: 11.0,
  7: 10.0,
  8: 8.0,
  9: 7.0,
  10: 7.0,
  11: 7.0,
  12: 6.0,
  13: 6.0,
  14: 6.0,
  15: 7.0,
  16: 7.0,
  17: 8.0,
  18: 9.0,
  19: 10.0,
  20: 11.0,
  21: 11.0},
 '74': {6: 16.0,
  7: 14.0,
  8: 12.0,
  9: 10.0,
  10: 10.0,
  11: 10.0,
  12: 9.0,
  13: 9.0,
  14: 10.0,
  15: 10.0,
  16: 12.0,
  17: 13.0,
  18: 15.0,
  19: 16.0,
  20: 17.0,
  21: 17.0},
 '75': {6: 16.0,
  7: 15.0,
  8: 11.0,
  9: 8.0,
  10: 8.0,
  11: 8.0,
  12: 8.0,
  13: 8.0,
  14: 8.0,
  15: 9.0,
  16: 9.0,
  17: 11.0,
  18: 14.0,
  19: 14.0,
  20: 15.0,
  21: 15.0},
 '76': {6: 16.0,
  7: 13.0,
  8: 9.0,
  9: 8.0,
  10: 8.0,
  11: 7.0,
  12: 7.0,
  13: 7.0,
  14: 8.0,
  15: 8.0,
  16: 9.0,
  17: 10.0,
  18: 13.0,
  19: 14.0,
  20: 14.0,
  21: 15.0},
 '77': {6: 9.0,
  7: 9.0,
  8: 9.0,
  9: 9.0,
  10: 10.0,
  11: 11.0,
  12: 11.0,
  13: 11.0,
  14: 12.0,
  15: 12.0,
  16: 10.0,
  17: 10.0,
  18: 9.0,
  19: 10.0,
  20: 10.0,
  21: 10.0},
 '78': {6: 25.0,
  7: 23.0,
  8: 17.0,
  9: 14.0,
  10: 15.0,
  11: 15.0,
  12: 15.0,
  13: 15.0,
  14: 15.0,
  15: 15.0,
  16: 15.0,
  17: 16.0,
  18: 19.0,
  19: 22.0,
  20: 22.0,
  21: 22.0},
 '79': {6: 14.0,
  7: 15.0,
  8: 15.0,
  9: 12.0,
  10: 12.0,
  11: 12.0,
  12: 12.0,
  13: 12.0,
  14: 13.0,
  15: 12.0,
  16: 10.0,
  17: 9.0,
  18: 9.0,
  19: 9.0,
  20: 9.0,
  21: 9.0},
 '80': {6: 17.0,
  7: 19.0,
  8: 15.0,
  9: 11.0,
  10: 12.0,
  11: 13.0,
  12: 13.0,
  13: 14.0,
  14: 16.0,
  15: 15.0,
  16: 14.0,
  17: 14.0,
  18: 15.0,
  19: 15.0,
  20: 14.0,
  21: 14.0},
 '81': {6: 13.0,
  7: 16.0,
  8: 17.0,
  9: 16.0,
  10: 16.0,
  11: 15.0,
  12: 14.0,
  13: 14.0,
  14: 14.0,
  15: 14.0,
  16: 14.0,
  17: 13.0,
  18: 12.0,
  19: 12.0,
  20: 12.0,
  21: 12.0},
 '82': {6: 13.0,
  7: 12.0,
  8: 9.0,
  9: 7.0,
  10: 7.0,
  11: 7.0,
  12: 7.0,
  13: 6.0,
  14: 7.0,
  15: 7.0,
  16: 7.0,
  17: 8.0,
  18: 10.0,
  19: 11.0,
  20: 12.0,
  21: 13.0},
 '83': {6: 23.0,
  7: 22.0,
  8: 16.0,
  9: 13.0,
  10: 12.0,
  11: 12.0,
  12: 12.0,
  13: 12.0,
  14: 14.0,
  15: 12.0,
  16: 13.0,
  17: 14.0,
  18: 17.0,
  19: 20.0,
  20: 21.0,
  21: 22.0},
 '84': {6: 16.0,
  7: 14.0,
  8: 9.0,
  9: 7.0,
  10: 7.0,
  11: 7.0,
  12: 7.0,
  13: 7.0,
  14: 7.0,
  15: 7.0,
  16: 8.0,
  17: 9.0,
  18: 12.0,
  19: 14.0,
  20: 15.0,
  21: 16.0},
 '85': {6: 19.0,
  7: 17.0,
  8: 12.0,
  9: 10.0,
  10: 10.0,
  11: 9.0,
  12: 8.0,
  13: 8.0,
  14: 8.0,
  15: 8.0,
  16: 8.0,
  17: 9.0,
  18: 12.0,
  19: 14.0,
  20: 16.0,
  21: 17.0},
 '86': {6: 19.0,
  7: 16.0,
  8: 11.0,
  9: 10.0,
  10: 10.0,
  11: 10.0,
  12: 10.0,
  13: 10.0,
  14: 10.0,
  15: 10.0,
  16: 12.0,
  17: 16.0,
  18: 19.0,
  19: 19.0,
  20: 20.0,
  21: 20.0},
 '87': {6: 19.0,
  7: 18.0,
  8: 12.0,
  9: 11.0,
  10: 10.0,
  11: 10.0,
  12: 9.0,
  13: 9.0,
  14: 10.0,
  15: 10.0,
  16: 10.0,
  17: 11.0,
  18: 13.0,
  19: 15.0,
  20: 16.0,
  21: 18.0},
 '88': {6: 19.0,
  7: 16.0,
  8: 12.0,
  9: 10.0,
  10: 10.0,
  11: 10.0,
  12: 10.0,
  13: 10.0,
  14: 9.0,
  15: 9.0,
  16: 8.0,
  17: 9.0,
  18: 13.0,
  19: 16.0,
  20: 18.0,
  21: 18.0},
 '89': {6: 6.0,
  7: 7.0,
  8: 8.0,
  9: 11.0,
  10: 12.0,
  11: 13.0,
  12: 14.0,
  13: 13.0,
  14: 13.0,
  15: 14.0,
  16: 14.0,
  17: 10.0,
  18: 7.0,
  19: 7.0,
  20: 7.0,
  21: 7.0},
 '90': {6: 7.0,
  7: 12.0,
  8: 18.0,
  9: 20.0,
  10: 18.0,
  11: 18.0,
  12: 18.0,
  13: 17.0,
  14: 16.0,
  15: 16.0,
  16: 13.0,
  17: 8.0,
  18: 6.0,
  19: 6.0,
  20: 7.0,
  21: 7.0},
 '91': {6: 16.0,
  7: 13.0,
  8: 13.0,
  9: 14.0,
  10: 14.0,
  11: 14.0,
  12: 14.0,
  13: 15.0,
  14: 16.0,
  15: 15.0,
  16: 14.0,
  17: 14.0,
  18: 16.0,
  19: 19.0,
  20: 21.0,
  21: 21.0},
 '92': {6: 26.0,
  7: 24.0,
  8: 17.0,
  9: 17.0,
  10: 17.0,
  11: 18.0,
  12: 17.0,
  13: 16.0,
  14: 17.0,
  15: 18.0,
  16: 18.0,
  17: 25.0,
  18: 27.0,
  19: 26.0,
  20: 27.0,
  21: 28.0},
 '93': {6: 23.0,
  7: 22.0,
  8: 13.0,
  9: 12.0,
  10: 12.0,
  11: 11.0,
  12: 11.0,
  13: 11.0,
  14: 11.0,
  15: 12.0,
  16: 16.0,
  17: 24.0,
  18: 25.0,
  19: 24.0,
  20: 24.0,
  21: 24.0},
 '94': {6: 21.0,
  7: 21.0,
  8: 16.0,
  9: 14.0,
  10: 14.0,
  11: 13.0,
  12: 13.0,
  13: 12.0,
  14: 13.0,
  15: 12.0,
  16: 13.0,
  17: 17.0,
  18: 20.0,
  19: 20.0,
  20: 20.0,
  21: 20.0},
 '95': {6: 19.0,
  7: 17.0,
  8: 14.0,
  9: 11.0,
  10: 12.0,
  11: 12.0,
  12: 11.0,
  13: 11.0,
  14: 12.0,
  15: 12.0,
  16: 12.0,
  17: 12.0,
  18: 14.0,
  19: 15.0,
  20: 17.0,
  21: 18.0},
 '96': {6: 15.0,
  7: 14.0,
  8: 12.0,
  9: 11.0,
  10: 11.0,
  11: 11.0,
  12: 10.0,
  13: 11.0,
  14: 11.0,
  15: 11.0,
  16: 11.0,
  17: 12.0,
  18: 13.0,
  19: 14.0,
  20: 14.0,
  21: 14.0},
 '97': {6: 18.0,
  7: 15.0,
  8: 11.0,
  9: 11.0,
  10: 12.0,
  11: 11.0,
  12: 11.0,
  13: 12.0,
  14: 12.0,
  15: 12.0,
  16: 12.0,
  17: 12.0,
  18: 14.0,
  19: 16.0,
  20: 17.0,
  21: 17.0},
 '98': {6: 8.0,
  7: 8.0,
  8: 10.0,
  9: 12.0,
  10: 14.0,
  11: 15.0,
  12: 17.0,
  13: 17.0,
  14: 18.0,
  15: 18.0,
  16: 18.0,
  17: 15.0,
  18: 12.0,
  19: 11.0,
  20: 10.0,
  21: 9.0},
 '99': {6: 4.0,
  7: 5.0,
  8: 10.0,
  9: 13.0,
  10: 12.0,
  11: 12.0,
  12: 12.0,
  13: 12.0,
  14: 11.0,
  15: 11.0,
  16: 11.0,
  17: 10.0,
  18: 6.0,
  19: 5.0,
  20: 4.0,
  21: 4.0},
 '100': {6: 16.0,
  7: 12.0,
  8: 10.0,
  9: 11.0,
  10: 11.0,
  11: 11.0,
  12: 11.0,
  13: 11.0,
  14: 12.0,
  15: 14.0,
  16: 18.0,
  17: 18.0,
  18: 17.0,
  19: 17.0,
  20: 17.0,
  21: 17.0},
 '101': {6: 12.0,
  7: 9.0,
  8: 8.0,
  9: 8.0,
  10: 8.0,
  11: 8.0,
  12: 8.0,
  13: 8.0,
  14: 9.0,
  15: 9.0,
  16: 9.0,
  17: 9.0,
  18: 11.0,
  19: 13.0,
  20: 14.0,
  21: 15.0},
 '102': {6: 15.0,
  7: 15.0,
  8: 12.0,
  9: 11.0,
  10: 10.0,
  11: 10.0,
  12: 10.0,
  13: 10.0,
  14: 9.0,
  15: 9.0,
  16: 9.0,
  17: 9.0,
  18: 10.0,
  19: 11.0,
  20: 12.0,
  21: 13.0},
 '103': {6: 7.0,
  7: 7.0,
  8: 7.0,
  9: 7.0,
  10: 8.0,
  11: 8.0,
  12: 7.0,
  13: 7.0,
  14: 7.0,
  15: 7.0,
  16: 7.0,
  17: 6.0,
  18: 6.0,
  19: 6.0,
  20: 6.0,
  21: 7.0},
 '104': {6: 8.0,
  7: 9.0,
  8: 9.0,
  9: 9.0,
  10: 9.0,
  11: 9.0,
  12: 9.0,
  13: 9.0,
  14: 9.0,
  15: 9.0,
  16: 8.0,
  17: 8.0,
  18: 7.0,
  19: 7.0,
  20: 7.0,
  21: 7.0},
 '105': {6: 9.0,
  7: 9.0,
  8: 9.0,
  9: 8.0,
  10: 8.0,
  11: 9.0,
  12: 9.0,
  13: 9.0,
  14: 9.0,
  15: 9.0,
  16: 9.0,
  17: 9.0,
  18: 9.0,
  19: 9.0,
  20: 9.0,
  21: 9.0},
 '106': {6: 16.0,
  7: 15.0,
  8: 12.0,
  9: 9.0,
  10: 9.0,
  11: 10.0,
  12: 10.0,
  13: 10.0,
  14: 10.0,
  15: 10.0,
  16: 10.0,
  17: 10.0,
  18: 10.0,
  19: 11.0,
  20: 11.0,
  21: 12.0},
 '107': {6: 16.0,
  7: 14.0,
  8: 10.0,
  9: 8.0,
  10: 9.0,
  11: 9.0,
  12: 9.0,
  13: 10.0,
  14: 10.0,
  15: 11.0,
  16: 12.0,
  17: 13.0,
  18: 13.0,
  19: 14.0,
  20: 15.0,
  21: 15.0},
 '108': {6: 15.0,
  7: 13.0,
  8: 11.0,
  9: 11.0,
  10: 11.0,
  11: 11.0,
  12: 11.0,
  13: 11.0,
  14: 11.0,
  15: 11.0,
  16: 12.0,
  17: 12.0,
  18: 14.0,
  19: 14.0,
  20: 15.0,
  21: 15.0},
 '109': {6: 17.0,
  7: 15.0,
  8: 12.0,
  9: 10.0,
  10: 9.0,
  11: 9.0,
  12: 8.0,
  13: 8.0,
  14: 8.0,
  15: 9.0,
  16: 9.0,
  17: 10.0,
  18: 11.0,
  19: 13.0,
  20: 15.0,
  21: 17.0},
 '110': {6: 10.0,
  7: 8.0,
  8: 7.0,
  9: 8.0,
  10: 7.0,
  11: 8.0,
  12: 9.0,
  13: 10.0,
  14: 11.0,
  15: 9.0,
  16: 8.0,
  17: 8.0,
  18: 10.0,
  19: 10.0,
  20: 11.0,
  21: 11.0},
 '111': {6: 18.0,
  7: 14.0,
  8: 11.0,
  9: 9.0,
  10: 8.0,
  11: 9.0,
  12: 8.0,
  13: 7.0,
  14: 7.0,
  15: 7.0,
  16: 8.0,
  17: 8.0,
  18: 9.0,
  19: 12.0,
  20: 13.0,
  21: 15.0},
 '112': {6: 18.0,
  7: 14.0,
  8: 10.0,
  9: 9.0,
  10: 8.0,
  11: 8.0,
  12: 8.0,
  13: 7.0,
  14: 6.0,
  15: 7.0,
  16: 7.0,
  17: 9.0,
  18: 14.0,
  19: 16.0,
  20: 17.0,
  21: 18.0},
 '113': {6: 4.0,
  7: 5.0,
  8: 7.0,
  9: 12.0,
  10: 13.0,
  11: 14.0,
  12: 15.0,
  13: 15.0,
  14: 14.0,
  15: 14.0,
  16: 13.0,

### Exporting average hourly to a json file

In [42]:
import json
with open('avg_hourly.json', 'w') as fp:
    json.dump(dict_avg_station_hourly, fp)